@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TDI Coop Inventory System</h1>
    <p class="lead">This system store item data, inventory and also record sales report.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alat Tulis</h2>
        <p>Pelbagai alat tulis disediakan untuk keperluan pelajar seperti pen, pensil, pemadam, liquid paper, kertas A4, fail, klip kertas, stapler, sticky note, highliter dan banyak lagi.</p>
    </div>
    <div class="col-md-4">
        <h2>Makanan</h2>
        <p>Makanan ringan seperti roti, biskut, keropok, jajan, air tin, air mineral, gula-gula, air 3 dalam satu, meggi, coklat dan banyak lagi.</p>
    </div>
    <div class="col-md-4">
        <h2>Lain-lain</h2>
        <p>Keperluan lain seperti pinggan, cawan, baldi, gayung, bekas makanan, bateri, lampu dan sebagainya.</p>
    </div>
</div>