@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TDI Coop Inventory System</h1>
    <p class="lead">This system store item data, inventory and also record sales report.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stationery</h2>
        <p>Various stationery is provided for student needs such as pen, pencil, eraser, liquid paper, A4 paper, color paper, file, paper clip, stapler, sticky note, highliter pen and more.</p>
    </div>
    <div class="col-md-4">
        <h2>Food and drinks</h2>
        <p>Snacks such as bread, biscuits, crackers, canned water, mineral water, sweets, instant 3 in drinks, instant noodles, chocolate and more.</p>
    </div>
    <div class="col-md-4">
        <h2>Others</h2>
        <p>Other necessities such as plates, cups, mugs, spoons, forks, buckets, dipper, food containers, batteries, torchlights and so on.</p>
    </div>
</div>